.env
.env.*
**/.env
**/.env.*
.secrets
**/.secrets
**/*secret*
**/credentials*.json
**/*credentials*
**/*.pem
**/*.key
.cognite/
sample-pids/Cognite Data Package/
sample-pids/Cognite-Data-Package.zip
node_modules/
dist/
.DS_Store
__pycache__/
*.pyc
